.title {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 15px;
}

.about-text {
    text-align: center;
}

.about-text h2 {
    line-height: 45px;
}

.about-text p {
    line-height: 25px;
}