main {
    width: 1300px;
    margin: 0 auto;
}

.title {
    margin-top: 25px;
    text-align: center;
}

.title h4 {
    margin-top: 5px;
    color: #2A71D6;
}

.title p {
    margin-top: 5px;
}

.title p a {
    color: red;
    text-decoration: underline;
    transition: color 0.3s;
}

.title p a:hover {
    color: #FF0DFF;
}

.tab {
    margin: 25px auto;
}

.tab_list {
    float: left;
}

.tab_list ul li {
    width: 100px;
    height: 45px;
    border: 1px solid black;
    text-align: center;
    line-height: 45px;
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;
}

.tab_list .current {
    background-color: red;
    color: #fff;
}

.item {
    display: none;
}

.tab_con {
    float: left;
    width: 1100px;
}

.download {
    position: relative;
    height: 225px;
}

.download-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%) translateY(-50%);
    width: 380px;
}

.download a {
    display: block;
    float: left;
    width: 180px;
    height: 50px;
    margin-bottom: 20px;
    margin-right: 20px;
    background-color: #ff6974;
    border-radius: 3px;
    text-align: center;
    line-height: 50px;
    font-size: 30px;
    font-weight: 600;
    color: #fff;
    transition: opacity 0.6s;
}

.one {
    display: flex;
    align-items: center;
    justify-content: center;
}

.one a {
    float: none;
    margin: 0;
}

.download a:nth-child(even) {
    margin-right: 0;
}

.download a:nth-child(2) {
    background-color: #00AEEC;
}

.download a:nth-child(3) {
    background-color: #00eb27;
}

.download a:nth-child(4) {
    background-color: #E6DE00;
}

.download a:hover {
    opacity: 50%;
}

.download p {
    padding: 3px;
}

.download span {
    position: absolute;
    bottom: -45%;
    left: 50%;
    transform: translate(-50%);
    text-align: center;
}

.introduce span p {
    font-size: 20px;
    text-align: center;
    padding: 3px;
}

.introduce span p a {
    color: #00AEEC;
    transition: color 0.3s;
}

.introduce a:hover {
    color: red;
}

.mods {
    position: relative;
}

.mods table {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    border-collapse: collapse;
}

table,
th,
td {
    text-align: center;
}

th,
td {
    height: 35px;
    padding: 5px;
    border: 1px solid black;
}

td div {
    width: 180px;
}

.mods-1_18_2 th,
.mods-1_18_2 td {
    padding: 0;
}

.mods-1_18_2 td div {
    width: 210px;
}

.mods tr:nth-child(even) {
    background-color: #c6c6c6;
}

.mods tr th {
    background-color: #696969;
    color: #fff;
}

.mods-more {
    background-color: #8a8989;
    color: #fff;
}

.mods-more td a {
    color: #fff;
}

.mods a,
.resourcepack a,
.shadow a {
    transition: color 0.3S;
}

.mods a:hover,
.resourcepack a:hover,
.shadow a:hover {
    color: red;
}

.resourcepack,
.shadow {
    position: relative;
}

.resourcepack ul,
.shadow ul {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
}

.resourcepack ul li,
.shadow ul li {
    border-bottom: 2px solid black;
    text-align: center;
    padding: 8px;
}

.resourcepack ul li:nth-child(even),
.shadow ul li:nth-child(even) {
    background-color: #c6c6c6;
}