.dt {
    width: 1500px;
    margin: 0 auto;
}

@media screen and (max-width:1500px) {
    .dt {
        width: 1200px;
    }
}

@media screen and (max-width:1200px) {
    .dt {
        width: 900px;
    }
}

@media screen and (max-width:900px) {
    .dt {
        width: 600px;
    }
}

@media screen and (max-width:600px) {
    .dt {
        width: 300px;
    }
}

.dt ul {
    margin-top: 20px;
}

.dt li a {
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    float: left;
    width: 300px;
    height: 100px;
    /* border: 1px solid black; */
}

.dt a img {
    width: 80%;
}

.all li a {
    height: 100%;
}

.all img {
    height: 100%;
}

footer {
    position: static;
}