header {
    position: relative;
    width: 100%;
    height: 100vh;
    background: url(../images/home.png) no-repeat center;
    background-size: cover;
    margin: 0 auto;
}

header h1 {
    position: absolute;
    left: 50%;
    margin-left: -300px;
    top: 65px;
    color: #ffffff;
    text-align: center;
    text-shadow: 5px 5px 6px rgba(0, 0, 0, 0.5);
    font-size: 75px;
}

header a {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    top: 80%;
    color: #ffffff;
    font-size: 15px;
    width: 125px;
    border: 3px solid #ffffff;
    border-radius: 12px;
    text-align: center;
    line-height: 45px;
    transition: background-color 1s;
}

header a:hover {
    border: 3px solid red;
    background-color: red;
}


/* 内服风景 */
.landscape-h1 {
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;
}




.swiper {
    width: 1500px;
    --swiper-navigation-color: #fff;
    --swiper-pagination-color: #00ff33;
}

.swiper-slide img {
    width: 500px;
    height: 300px;
    border-left: 5px solid rgb(245, 245, 245);
}

@media screen and (max-width:1500px) {

    .swiper {
        width: 1200px;
    }

    .swiper-slide img {
        width: 400px;
        height: 250px;
    }

}

.swiper-slide a p {
    position: absolute;
    bottom: 4px;
    left: 5px;
    width: 100%;
    height: 22px;
    line-height: 22px;
    text-align: center;
    color: #fff;
    font-size: 15px;
    background-color: rgba(0, 0, 0, 0.3);
}

.swiper-wrapper {
    margin-bottom: 40px;
}

/* 关于我们 */
.about-us-text {
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;
}

.about-us {
    height: 200px;
    background: url(../images/bg.png) no-repeat;
}

.about-us ul {
    width: 1200px;
    margin: 0 auto;
}

.about-us ul li {
    float: left;
    height: 200px;
    width: 400px;
    font-family: 'icomoon';
}

.about-us ul li h3 {
    font-size: 60px;
    text-align: center;
    padding-top: 27.5px;
}

.about-us ul li h4 {
    font-size: 25px;
    text-align: center;
    padding-top: 15px;
}

.about-us ul li h5 {
    font-size: 15px;
    text-align: center;
    padding-top: 15px;
}

.icon-1 h3::before {
    content: '\ea15';
}

.icon-2 h3::before {
    content: '\e9da';
}

.icon-3 h3::before {
    content: '\e971';
}